{% extends 'base.html' %}

{% block  %}
    <div>
        <a href="">
            <button>
                Alerta de Servicio
            </button>
        </a>
    </div>
    <div>
        <a href="">
            <button>
                En Proceso
            </button>
        </a>
    </div>
    <div>
        <a href="">
            <button>
                Servicios realizados
            </button>
        </a>
    </div>
    <div>
        <a href="">
            <button>
                Mapa
            </button>
        </a>
    </div>
{% endblock %}